version: '2.2'

services:

    vpn:
        image: vpn
        build: ./vpn
        privileged: true
        ports:
            - 1194:1194/udp
            - 443:443/tcp

    serveconfig:
        image: vpn
        build: ./vpn
        volumes_from: 
            - vpn
        ports:
            - 0.0.0.0:8080:8080
        command: serveconfig

    nginx:
        image: nginx
        build: ./nginx
        privileged: true
        volumes_from: 
            - vpn
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/nginx.conf
            - ./nginx/conf.d:/etc/nginx/conf.d
        ports:
            - 8081:80
